{% extends 'base_admin.html.twig' %}

{% block body %}
    <body class="vertical-layout vertical-menu-modern 2-columns  navbar-floating footer-static  " data-open="click" data-menu="vertical-menu-modern" data-col="2-columns">
    <div class="app-content content">
        <div class="content-wrapper">
            <div class="content-body">
                <section id="basic-datatable">
                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-header">
                                    <h1 class="card-title">List of internships postulations</h1>
                                    <div class="breadcrum-right">
                                    </div>
                                </div>
                                <div class="card-content">
                                    <div class="card-body card-dashboard">
                                        {% if items | length > 0 %}
                                            <table class="table table-striped">
                                                <thead>
                                                <tr>
                                                    <th>Libelle</th>
                                                    <th>Post</th>
                                                    <th>Expiration Date</th>
                                                    <th>Duration</th>
                                                    <th>Level</th>
                                                    <th>Category</th>
                                                    <th>Actions</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                {% for item in items %}
                                                    <tr>
                                                        <td>{{ item.stage.libelle }}</td>
                                                        <td>{{ item.stage.poste }}</td>
                                                        <td>{{ item.stage.dateExpiration ? item.stage.dateExpiration|date('Y-m-d') : '' }}</td>
                                                        <td>{{ item.stage.duree }}</td>
                                                        <td>{{ item.stage.niveau }}</td>
                                                        <td>{{ item.stage.category.libelle }}</td>
                                                        {# categorie.id #}
                                                        <td>
                                                            <a href="{{ path('stage_apply_remove',{'id': item.stage.id}) }}">Delete</a>
                                                        </td>
                                                    </tr>
                                                {% endfor %}
                                                </tbody>
                                            </table>
                                        {% else %}
                                            <p colspan="3">no records found</p>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
    </body>
{% endblock %}