{% extends 'baseAdmin.html.twig' %}
{% block title %}formation index{% endblock %}

{% block body %}
    {% block content %}
<div class="app-content content">
    <div class="content-overlay"></div>
    <div class="header-navbar-shadow"></div>
    <div class="content-wrapper">
        <div class="content-header row">
            <div class="content-header-left col-md-9 col-12 mb-2">
                <div class="row breadcrumbs-top">

                </div>
            </div>

        </div>
        <div class="content-body">
            <div class="row">

            </div>
<div style="display: inline-block;top: 0px;left: 750px;" class="col-sm-4 col-12">
    <input class="form-control round" placeholder="Search" type="text" id="searchadv">
</div>

    <button style="top: 5px;left: 750px;" type="submit" id="search" class="btn btn-icon rounded-circle btn-outline-primary mr-1 mb-1"><i class="feather icon-search"></i></button>


        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

        <script src="../../../app-assets/js/scripts/ajaxsearch.js"></script>
        <br>
        <br>
        <br>


        <div class="content-body">
    <div class="row">
    </div>
        <h1>formation list
            <a class="btn btn-icon rounded-circle btn-outline-primary mr-1 mb-1" href="{{ path('formation_new', {'iduser': app.user.id}) }}"><i class="feather icon-plus"></i></a>

        </h1>

        <section id="column-selectors">
            <div class="row">
                <div class="col-12">
                    <div class="card">

        <div class="card-content">
            <div class="card-body card-dashboard">

    <div class="table-responsive">
    <table class="table table-striped dataex-html5-selectors">
      <thead>
                                                <tr>

                                                    <th>Formation name</th>
                                                    <th>Company name</th>
                                                    <th>Tutor name</th>
                                                    <th>Participants</th>
                                                    <th>Formation Image</th>
                                                    <th>User Address</th>
                                                    <th>User Image</th>
                                                    <th>action</th>
                                                  </tr>
                                            </thead>
                                             <tbody id="tb">
              {% for formation in formations %}
            <tr>

                <td>{{ formation.nomformation }}</td>
                <td>{{ formation.employer.company }}</td>
                <td>{{ formation.tutor }}</td>
                <td>{{ formation.nbrParticipants}}</td>
                <td>   <img src="/uploads/{{formation.getImg()}}" style="max-width: 100px;max-height: 700px;" ></td>
                <td>{{ formation.employer.address }}</td>
                <td>   <img src="/uploads/{{formation.employer.getImg()}}" style="max-width: 100px;max-height: 700px;" ></td>
                <td>


                    <div style="display: inline-block;">
                    <a class="btn btn-outline-primary mr-1 mb-1" href="{{ path('formation_show', {'id': formation.id}) }}"> <i class="feather icon-tag"></i></a>
                    </div>

                    <div style="display: inline-block;">
                    <a class="btn btn-outline-primary mr-1 mb-1" href="{{ path('formation_edit', {'id': formation.id}) }}"> <i class="feather icon-edit"></i></a>
                    </div>

                     
                
                    <div style="display: inline-block;">
                   
                
                        {{ include('formation/_delete_form.html.twig') }}
                 
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>

    </table>
    </div>
            </div>
        </div>
    </div>
                </div>
            </div>

</section>


</div>
        </div>
    </div>
</div>

        <!-- Column selectors with Export Options and print table -->



        </div>
        </div>
        </div>
    {% endblock %}

   {% endblock %}