{% extends 'base.html.twig' %}

{% block title %}Formation{% endblock %}

{% block body %}
<div class="app-content content">
        <div class="content-overlay"></div>
        <div class="header-navbar-shadow"></div>
        <div class="content-wrapper">
    <h1>Formation</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ formation.id }}</td>
            </tr>
            <tr>
                <th>Nomformation</th>
                <td>{{ formation.nomformation }}</td>
            </tr>
            <tr>
                <th>Nomdeformateur</th>
                <td>{{ formation.nomdeformateur }}</td>
            </tr>
            <tr>
                <th>Sujetdeformation</th>
                <td>{{ formation.sujetdeformation }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('formation_index') }}">back to list</a>

    <a href="{{ path('formation_edit', {'id': formation.id}) }}">edit</a>

    {{ include('formation/_delete_form.html.twig') }}

    
    </div>
{% endblock %}
