{% extends 'base.html.twig' %}
{% block head %}
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta name="description" content="Vuexy admin is super flexible, powerful, clean &amp; modern responsive bootstrap 4 admin template with unlimited possibilities.">
    <meta name="keywords" content="admin template, Vuexy admin template, dashboard template, flat admin template, responsive admin template, web app">
    <meta name="author" content="PIXINVENT">
    <title>DataTables - Vuexy - Bootstrap HTML admin template</title>
    <link rel="apple-touch-icon" href="../../../app-assets/images/ico/apple-icon-120.png">
    <link rel="shortcut icon" type="image/x-icon" href="../../../app-assets/images/ico/favicon.ico">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600" rel="stylesheet">

    <!-- BEGIN: Vendor CSS-->
    <link rel="stylesheet" type="text/css" href="../../../app-assets/vendors/css/vendors.min.css">
    <link rel="stylesheet" type="text/css" href="../../../app-assets/vendors/css/tables/datatable/datatables.min.css">
    <!-- END: Vendor CSS-->

    <!-- BEGIN: Theme CSS-->
    <link rel="stylesheet" type="text/css" href="../../../app-assets/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="../../../app-assets/css/bootstrap-extended.css">
    <link rel="stylesheet" type="text/css" href="../../../app-assets/css/colors.css">
    <link rel="stylesheet" type="text/css" href="../../../app-assets/css/components.css">
    <link rel="stylesheet" type="text/css" href="../../../app-assets/css/themes/dark-layout.css">
    <link rel="stylesheet" type="text/css" href="../../../app-assets/css/themes/semi-dark-layout.css">

    <!-- BEGIN: Page CSS-->
    <link rel="stylesheet" type="text/css" href="../../../app-assets/css/core/menu/menu-types/vertical-menu.css">
    <link rel="stylesheet" type="text/css" href="../../../app-assets/css/core/colors/palette-gradient.css">
    <!-- END: Page CSS-->

    <!-- BEGIN: Custom CSS-->
    <link rel="stylesheet" type="text/css" href="../../../assets/css/style.css">
    <!-- END: Custom CSS-->

{% endblock %}

{% block body %}
<div class="app-content content">
    <div class="content-overlay"></div>
    <div class="header-navbar-shadow"></div>
    <div class="content-wrapper">
        <div class="content-header row">
            <div class="content-header-left col-md-9 col-12 mb-2">
                <div class="row breadcrumbs-top">

                </div>
            </div>

        </div>
        <div class="content-body">
            <div class="row">

            </div>
<div style="display: inline-block;top: 0px;left: 750px;" class="col-sm-4 col-12">
    <input class="form-control round" placeholder="Search" type="text" id="searchadv">
</div>

    <button style="top: 5px;left: 750px;" type="submit" id="search" class="btn btn-icon rounded-circle btn-outline-primary mr-1 mb-1"><i class="feather icon-search"></i></button>


        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

        <script src="../../../app-assets/js/scripts/ajaxsearch.js"></script>
       


        <div class="content-body">
    <div class="row">
    </div>
        <h1>formation list
            <a class="btn btn-icon rounded-circle btn-outline-primary mr-1 mb-1" href="{{ path('formation_new') }}"><i class="feather icon-plus"></i></a>

        </h1>

        <section id="column-selectors">
            <div class="row">
                <div class="col-12">
                    <div class="card">

        <div class="card-content">
            <div class="card-body card-dashboard">

    <div class="table-responsive">
    <table class="table table-striped dataex-html5-selectors">
      <thead>
                                                <tr>
                                                      <th>ID</th>
                                                    <th>nom formation</th>
                                                    <th>nomdeformateur</th>
                                                    <th>sujetdeformation</th>
                                                    <th>picture</th>
                                                  </tr>
                                            </thead>
                                             <tbody id="tb">
              {% for formation in formations %}
            <tr>
                 <td>{{ formation.id }}</td>
                <td>{{ formation.nomformation }}</td>
                <td>{{ formation.nomdeformateur }}</td>
                <td>{{ formation.sujetdeformation }}</td>
                <td>   <img src="/uploads/{{formation.getImg()}}" style="max-width: 100px"  "max-height: 700px" ></td>
                <td>
                    <div style="display: inline-block;">
                    <a class="btn btn-outline-primary mr-1 mb-1" href="{{ path('formation_show', {'id': formation.id}) }}"> <i class="feather icon-edit"></i></a>
                    </div>
                    <a class="btn btn-outline-primary mr-1 mb-1" href="{{ path('formation_delete', {'id': formation.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');"><i class="feather icon-eye"></i></a>
                    <div style="display: inline-block;">
                        {{ include('formation/_delete_form.html.twig') }}
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>

    </table>
    </div>
            </div>
        </div>
    </div>
                </div>
            </div>

</section>


</div>
        </div>
    </div>
</div>

        <!-- Column selectors with Export Options and print table -->



        </div>
        </div>
        </div>
    {% endblock %}

