<div class="app-content content">
        <div class="content-wrapper">
                <div class="content-body">
                        <!-- users edit start -->
                        <section class="users-edit">
                                <div class="card">
                                        <div class="card-content">
                                                <div class="card-body">
                                                        <div class="tab-content">
                                                                <div class="tab-pane active" id="account" aria-labelledby="account-tab" role="tabpanel">
                                                                        <!-- users edit account form start -->
                                                                        {{ form_start(form,{'attr':{'novalidate':'novalidate'}}) }}
                                                                                <div class="row">
                                                                                        <div class="col-12 col-sm-6">
                                                                                                <div class="form-group">
                                                                                                        <div class="controls">
                                                                                                                <label>Libelle</label>
                                                                                                                {{ form_widget(form.libelle,{ 'attr':{'class':'form-control col-12 col-sm-7 ','placeholder':'libelle *'}}) }}
                                                                                                        </div>
                                                                                                </div>
                                                                                                <div class="form-group">
                                                                                                        <div class="controls">
                                                                                                                <label>Secteur</label>
                                                                                                                {{ form_widget(form.secteur,{ 'attr':{'class':'form-control col-12 col-sm-7 ','placeholder':'secteur *'}}) }}

                                                                                                        </div>
                                                                                                </div>
                                                                                                <div class="form-group">
                                                                                                        <div class="controls">
                                                                                                                <label>Poste</label>
                                                                                                                {{ form_widget(form.poste,{ 'attr':{'class':'form-control col-12 col-sm-7 ','placeholder':'poste *'}}) }}

                                                                                                        </div>
                                                                                                </div>
                                                                                                <div class="form-group">
                                                                                                        <div class="controls">
                                                                                                                <label>Date Expiration</label>
                                                                                                                {{ form_widget(form.dateExpiration,{ 'attr':{'class':'form-control col-12 col-sm-7 ','placeholder':'date expiration *'}}) }}
                                                                                                        </div>
                                                                                                </div>
                                                                                                <div class="form-group">
                                                                                                        <div class="controls">
                                                                                                                <label>Description</label>
                                                                                                                {{ form_widget(form.description,{ 'attr':{'class':'form-control col-12 col-sm-7 ','placeholder':'description *'}}) }}
                                                                                                        </div>
                                                                                                </div>
                                                                                                <div class="form-group">
                                                                                                        <div class="controls">
                                                                                                                <label>Duree</label>
                                                                                                                {{ form_widget(form.duree,{ 'attr':{'class':'form-control col-12 col-sm-7 ','placeholder':'duree *'}}) }}
                                                                                                        </div>
                                                                                                </div><div class="form-group">
                                                                                                        <div class="controls">
                                                                                                                <label>Niveau</label>
                                                                                                                {{ form_widget(form.niveau,{ 'attr':{'class':'form-control col-12 col-sm-7 ','placeholder':'niveau *'}}) }}
                                                                                                        </div>
                                                                                                </div>
                                                                                                <button type="submit" class="btn btn-primary glow mb-1 mb-sm-0 mr-0 mr-sm-1">
                                                                                                        {{ button_label|default('Save') }}
                                                                                                </button>
                                                                                                <button type="reset" class="btn btn-outline-warning">Reset</button>
                                                                                        </div>
                                                                                </div>
                                                                        {{ form_end(form) }}
                                                                        <!-- users edit account form ends -->
                                                                </div>
                                                        </div>
                                                </div>
                                        </div>
                                </div>
                        </section>
                        <!-- users edit ends -->

                </div>
        </div>
</div>

