{% extends 'baseFront.html.twig' %}

{% block title %}Formation{% endblock %}

{% block body %}
<h1>Candidat</h1>






<div class="app-content content">
    <div class="content-overlay"></div>
    <div class="header-navbar-shadow"></div>
    <div class="content-wrapper">
        <div class="content-header row">
        </div>
        <div class="content-body">
            <!-- page users view start -->
            <section class="page-users-view">
                <div >
                    <!-- account start -->
                <div class="content-body">
                <!-- app ecommerce details start -->
                <section class="app-ecommerce-details">
                    <div class="card">
                        <div class="card-body">
                            <div class="row mb-5 mt-2">
                                <div class="col-12 col-md-5 d-flex align-items-center justify-content-center mb-2 mb-md-0">
                                    <div class="d-flex align-items-center justify-content-center">
                                        <img src="/uploads/{{formation.img}}" style="height: 500px; width: 200px;" class="users-avatar-shadow w-100 rounded mb-2 pr-2 ml-1" alt="avatar">
                                     </div>
                                </div>

                                              <div class="col-12 col-md-6">
                                                        <h2 class="font-weight-bold">{{ formation.nomformation }}</h2>
                                                      
                                                        <h6 class="font-weight-bold">Tutor name:</h6>
                                                        <p>{{ formation.tutor }}</p>
                                                  <h6 class="font-weight-bold">Participants:</h6>
                                                  <p>{{ formation.nbrParticipants }}</p>


                                                       <hr>
                                                  <h6 class="font-weight-bold">Formation subject:</h6>
                                    <p>{{ formation.sujetdeformation }}</p>
                                                  <hr>
                                                  <h6 class="font-weight-bold">Informations about the company:</h6>
                                                  <img src="/uploads/{{formation.employer.getImg()}}" style="max-width: 100px"  class="rounded-circle img-border box-shadow-1" alt="Card image">


                                                  <div class="invoice-details mt-2">
                                                      <div class="recipient-contact pb-2">
                                                          <p>
                                                              <i class="feather icon-user"></i>
                                                              {{ formation.employer.company }}
                                                          </p>
                                                          <p>
                                                              <i class="feather icon-home"></i>
                                                              {{ formation.employer.town }}
                                                          </p>
                                                          <p>
                                                              <i class="feather icon-mail"></i>
                                                              {{formation.employer.address}}
                                                          </p>
                                                          <p>
                                                              <i class="feather icon-phone"></i>
                                                              {{ formation.employer.phone }}
                                                          </p>
                                                      </div>
                                                  </div>





                                                  <div class="d-flex flex-column flex-sm-row">
                                                      {% set i = 0 %}
                                                      {% for candidat in formation.participer %}
                                                          {% if candidat.id == app.user.id %}
                                                              {% set i = 1 %}
                                                          {% else %}
                                                              {% set i=0  %}
                                                          {% endif %}

                                                      {% endfor %}
                                                      {% if i==0 %}
                                                      {% if is_granted('ROLE_CANDIDATE') %}
                                                          <a href="{{ path('formation_participer',{'id':formation.id,'iduser':app.user.id}) }}" class="btn btn-flat-primary border-primary text-primary mr-1 mb-1">Inscription</a>
                                                          {% endif %}
                                                      {% else %}
                                                          <a href="{{ path('delete_participerFromation',{'id':formation.id,'idemp':formation.employer.id,'iduser':app.user.id}) }}" class="btn btn-flat-primary border-primary text-primary mr-1 mb-1">Cancel</a>
                                                      {% endif %}
                                                      <hr>
                                                      <a href="{{ path('rating1',{'id':formation.id,'iduser':formation.employer.id,'idcan':app.user.id}) }}" class="btn btn-icon btn-flat-warning mr-1 mb-1 waves-effect waves-light" >  <i class="feather icon-star"></i></a>

                                                      <a href="{{ path('rating2',{'id':formation.id,'iduser':formation.employer.id,'idcan':app.user.id}) }}"  class="btn btn-icon btn-flat-warning mr-1 mb-1 waves-effect waves-light"  >  <i class="feather icon-star"></i></a>

                                                      <a href="{{ path('rating3',{'id':formation.id,'iduser':formation.employer.id,'idcan':app.user.id}) }}"  class="btn btn-icon btn-flat-warning mr-1 mb-1 waves-effect waves-light" >  <i class="feather icon-star"></i></a>

                                                      <a href="{{ path('rating4',{'id':formation.id,'iduser':formation.employer.id,'idcan':app.user.id}) }}"  class="btn btn-icon btn-flat-warning mr-1 mb-1 waves-effect waves-light" >  <i class="feather icon-star"></i></a>

                                                      <a href="{{ path('rating5',{'id':formation.id,'iduser':formation.employer.id,'idcan':app.user.id}) }}"  class="btn btn-icon btn-flat-warning mr-1 mb-1 waves-effect waves-light"  >  <i class="feather icon-star"></i></a>



                                                  </div>
                                    <hr>
                                
                                </div>
                            </div>
                        </div>
                        <div class="item-features py-5">
                            <div class="row text-center pt-2">
                                <div class="col-12 col-md-4 mb-4 mb-md-0 ">
                                    <div class="w-75 mx-auto">
                     
                                   
                                        
                                    </div>
                                </div>
                                <div class="col-12 col-md-4 mb-4 mb-md-0">
                                    <div class="w-75 mx-auto">
                                      
                                        <h5 class="mt-2 font-weight-bold"></h5>
                                        <p>.
                                        </p>
                                    </div>
                                </div>
                                <div class="col-12 col-md-4 mb-4 mb-md-0">
                                    <div class="w-75 mx-auto">
                                 
                                      
                                    </div>
                                </div>
                            </div>
                        </div>
                   

           
                        
                            <!-- account end -->
                            <!-- information start -->

                            <!-- information start -->
                            <!-- social links end -->

                            <!-- social links end -->
                        
                </div>
        </div>
    </div>
</div>
<!-- permissions end -->
</div>
</section>
<!-- page users view end -->

</div>
</div>
</div>

    <div class="sidenav-overlay"></div>
    <div class="drag-target"></div>

    <!-- BEGIN: Footer-->
    <footer class="footer footer-static footer-light navbar-shadow">
     
         
        </p>
    </footer>
    <!-- END: Footer-->


    <!-- BEGIN: Vendor JS-->
    <script src="../../../app-assets/vendors/js/vendors.min.js"></script>
    <!-- BEGIN Vendor JS-->

    <!-- BEGIN: Page Vendor JS-->
    <script src="../../../app-assets/vendors/js/ui/jquery.sticky.js"></script>
    <script src="../../../app-assets/vendors/js/forms/spinner/jquery.bootstrap-touchspin.js"></script>
    <script src="../../../app-assets/vendors/js/extensions/swiper.min.js"></script>
    <!-- END: Page Vendor JS-->

    <!-- BEGIN: Theme JS-->
    <script src="../../../app-assets/js/core/app-menu.js"></script>
    <script src="../../../app-assets/js/core/app.js"></script>
    <script src="../../../app-assets/js/scripts/components.js"></script>
    <!-- END: Theme JS-->

    <!-- BEGIN: Page JS-->
    <script src="../../../app-assets/js/scripts/pages/app-ecommerce-details.js"></script>
    <script src="../../../app-assets/js/scripts/forms/number-input.js"></script>
    <!-- END: Page JS-->

</body>
<!-- END: Body-->

</html>

















{% endblock %}
