{% extends 'base.html.twig' %}

{% block title %}Post{% endblock %}

{% block body %}
    {% block content %}
    <h1>Post</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ post.id }}</td>
            </tr>
            <tr>
                <th>Content</th>
                <td>{{ post.content |raw}}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ post.date ? post.date|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Nblikes</th>
                <td>{{ post.nblikes }}</td>
            </tr>
            <tr>
                <th>Comments</th>
                <td>

                    {% for comment in post.comments %}
                    <ul class="list-group">
                       <li class="list-group-item"> {{ comment.content }} </li>
                    </ul>
                    {% endfor %}

                </td>
            </tr>
        </tbody>
    </table>
<div>
    <a class="btn btn-outline-primary mr-1 mb-1" href="{{ path('post_index') }}">back to list</a>

    <a class="btn btn-outline-warning mr-1 mb-1" href="{{ path('post_edit', {'id': post.id}) }}">edit</a>

    {{ include('post/_delete_form.html.twig') }}
</div>
{% endblock %}
{% endblock %}
