<div class="card-content">
        <div class="card-body">
                {{ form_start(form, {'attr':{ 'class':'form form-vertical','novalidate':'novalidate'}}) }}
                <div class="form-body">
                        <div class="row">
                                <div class="col-12">
                                        <div class="form-group">
                                                <label for="first-name-vertical">Title</label>
                                                {{ form_widget(form.libelle, {'attr':{ 'class':'form-control', 'placeholder':'Title *'}}) }}
                                                <div class="chip chip-danger">
                                                        <span>{{ form_errors(form.libelle) }}</span>
                                                </div>
                                        </div>
                                </div>
                                <div class="col-12">
                                        <div class="form-group">
                                                <label for="contact-info-vertical">Post</label>
                                                {{ form_widget(form.poste, {'attr':{ 'class':'form-control', 'placeholder':'Post *'}}) }}
                                                <div class="chip chip-danger">
                                                        {{ form_errors(form.poste) }}
                                                </div>
                                        </div>
                                </div>
                                <div class="col-12">
                                        <div class="form-group">
                                                <label for="password-vertical">Expiration Date</label>
                                                {{ form_widget(form.dateExpiration, {'attr':{ 'class':'form-control pickadate picker__input'}}) }}
                                                <div class="chip chip-danger">
                                                        {{ form_errors(form.dateExpiration) }}
                                                </div>
                                        </div>
                                </div>
                                <div class="col-12">
                                        <div class="form-group">
                                                <label for="password-vertical">Description</label>
                                                {{ form_widget(form.description, {'attr':{ 'class':'form-control', 'placeholder':'Description *'}}) }}
                                                <div class="chip chip-danger">
                                                        {{ form_errors(form.description) }}
                                                </div>
                                        </div>
                                </div>
                                <div class="col-12">
                                        <div class="form-group">
                                                <label for="password-vertical">Level</label>
                                                {{ form_widget(form.niveau, {'attr':{ 'class':'form-control', 'placeholder':'Level *'}}) }}
                                                <div class="chip chip-danger">
                                                        {{ form_errors(form.niveau) }}
                                                </div>
                                        </div>
                                </div>
                                <div class="col-12">
                                        <div class="form-group">
                                                <label for="password-vertical">Duration</label>
                                                {{ form_widget(form.duree, {'attr':{ 'class':'form-control', 'placeholder':'Duration in months *'}}) }}
                                                <div class="chip chip-danger">
                                                        {{ form_errors(form.duree) }}
                                                </div>
                                        </div>
                                </div>
                                <div class="col-12">
                                        <div class="form-group">
                                                <label for="password-vertical">Category</label>
                                                {{ form_widget(form.category, {'attr':{ 'class':'form-control', 'placeholder':'Category *'}}) }}
                                                <div class="chip chip-danger">
                                                        {{ form_errors(form.category) }}
                                                </div>
                                        </div>
                                </div>
                                <div class="col-12">
                                        <button class="btn btn-primary mr-1 mb-1">{{ button_label|default('Save') }}</button>
                                        <a href="{{ path('stage_index') }}" class="btn btn-outline-warning mr-1 mb-1">Back to list</a>
                                </div>
                        </div>
                        <div class="picker" id="P234605078_root" aria-hidden="true"><div class="picker__holder" tabindex="-1"><div class="picker__frame"><div class="picker__wrap"><div class="picker__box"><div class="picker__header"><div class="picker__month">March</div><div class="picker__year">2021</div><div class="picker__nav--prev" data-nav="-1" tabindex="0" role="button" aria-controls="P234605078_table" title="Previous month"> </div><div class="picker__nav--next" data-nav="1" tabindex="0" role="button" aria-controls="P234605078_table" title="Next month"> </div></div><table class="picker__table" id="P234605078_table" role="grid" aria-controls="P234605078" aria-readonly="true"><thead><tr><th class="picker__weekday" scope="col" title="Sunday">Sun</th><th class="picker__weekday" scope="col" title="Monday">Mon</th><th class="picker__weekday" scope="col" title="Tuesday">Tue</th><th class="picker__weekday" scope="col" title="Wednesday">Wed</th><th class="picker__weekday" scope="col" title="Thursday">Thu</th><th class="picker__weekday" scope="col" title="Friday">Fri</th><th class="picker__weekday" scope="col" title="Saturday">Sat</th></tr></thead><tbody><tr><td><div class="picker__day picker__day--outfocus" data-pick="1614466800000" id="P234605078_1614466800000" tabindex="0" role="gridcell" aria-label="28 February, 2021">28</div></td><td><div class="picker__day picker__day--infocus" data-pick="1614553200000" id="P234605078_1614553200000" tabindex="0" role="gridcell" aria-label="1 March, 2021">1</div></td><td><div class="picker__day picker__day--infocus" data-pick="1614639600000" id="P234605078_1614639600000" tabindex="0" role="gridcell" aria-label="2 March, 2021">2</div></td><td><div class="picker__day picker__day--infocus" data-pick="1614726000000" id="P234605078_1614726000000" tabindex="0" role="gridcell" aria-label="3 March, 2021">3</div></td><td><div class="picker__day picker__day--infocus" data-pick="1614812400000" id="P234605078_1614812400000" tabindex="0" role="gridcell" aria-label="4 March, 2021">4</div></td><td><div class="picker__day picker__day--infocus" data-pick="1614898800000" id="P234605078_1614898800000" tabindex="0" role="gridcell" aria-label="5 March, 2021">5</div></td><td><div class="picker__day picker__day--infocus" data-pick="1614985200000" id="P234605078_1614985200000" tabindex="0" role="gridcell" aria-label="6 March, 2021">6</div></td></tr><tr><td><div class="picker__day picker__day--infocus" data-pick="1615071600000" id="P234605078_1615071600000" tabindex="0" role="gridcell" aria-label="7 March, 2021">7</div></td><td><div class="picker__day picker__day--infocus" data-pick="1615158000000" id="P234605078_1615158000000" tabindex="0" role="gridcell" aria-label="8 March, 2021">8</div></td><td><div class="picker__day picker__day--infocus" data-pick="1615244400000" id="P234605078_1615244400000" tabindex="0" role="gridcell" aria-label="9 March, 2021">9</div></td><td><div class="picker__day picker__day--infocus" data-pick="1615330800000" id="P234605078_1615330800000" tabindex="0" role="gridcell" aria-label="10 March, 2021">10</div></td><td><div class="picker__day picker__day--infocus" data-pick="1615417200000" id="P234605078_1615417200000" tabindex="0" role="gridcell" aria-label="11 March, 2021">11</div></td><td><div class="picker__day picker__day--infocus" data-pick="1615503600000" id="P234605078_1615503600000" tabindex="0" role="gridcell" aria-label="12 March, 2021">12</div></td><td><div class="picker__day picker__day--infocus" data-pick="1615590000000" id="P234605078_1615590000000" tabindex="0" role="gridcell" aria-label="13 March, 2021">13</div></td></tr><tr><td><div class="picker__day picker__day--infocus" data-pick="1615676400000" id="P234605078_1615676400000" tabindex="0" role="gridcell" aria-label="14 March, 2021">14</div></td><td><div class="picker__day picker__day--infocus" data-pick="1615762800000" id="P234605078_1615762800000" tabindex="0" role="gridcell" aria-label="15 March, 2021">15</div></td><td><div class="picker__day picker__day--infocus" data-pick="1615849200000" id="P234605078_1615849200000" tabindex="0" role="gridcell" aria-label="16 March, 2021">16</div></td><td><div class="picker__day picker__day--infocus" data-pick="1615935600000" id="P234605078_1615935600000" tabindex="0" role="gridcell" aria-label="17 March, 2021">17</div></td><td><div class="picker__day picker__day--infocus" data-pick="1616022000000" id="P234605078_1616022000000" tabindex="0" role="gridcell" aria-label="18 March, 2021">18</div></td><td><div class="picker__day picker__day--infocus" data-pick="1616108400000" id="P234605078_1616108400000" tabindex="0" role="gridcell" aria-label="19 March, 2021">19</div></td><td><div class="picker__day picker__day--infocus" data-pick="1616194800000" id="P234605078_1616194800000" tabindex="0" role="gridcell" aria-label="20 March, 2021">20</div></td></tr><tr><td><div class="picker__day picker__day--infocus" data-pick="1616281200000" id="P234605078_1616281200000" tabindex="0" role="gridcell" aria-label="21 March, 2021">21</div></td><td><div class="picker__day picker__day--infocus" data-pick="1616367600000" id="P234605078_1616367600000" tabindex="0" role="gridcell" aria-label="22 March, 2021">22</div></td><td><div class="picker__day picker__day--infocus" data-pick="1616454000000" id="P234605078_1616454000000" tabindex="0" role="gridcell" aria-label="23 March, 2021">23</div></td><td><div class="picker__day picker__day--infocus" data-pick="1616540400000" id="P234605078_1616540400000" tabindex="0" role="gridcell" aria-label="24 March, 2021">24</div></td><td><div class="picker__day picker__day--infocus" data-pick="1616626800000" id="P234605078_1616626800000" tabindex="0" role="gridcell" aria-label="25 March, 2021">25</div></td><td><div class="picker__day picker__day--infocus picker__day--today picker__day--highlighted" data-pick="1616713200000" id="P234605078_1616713200000" tabindex="0" role="gridcell" aria-label="26 March, 2021" aria-activedescendant="1616713200000">26</div></td><td><div class="picker__day picker__day--infocus" data-pick="1616799600000" id="P234605078_1616799600000" tabindex="0" role="gridcell" aria-label="27 March, 2021">27</div></td></tr><tr><td><div class="picker__day picker__day--infocus" data-pick="1616886000000" id="P234605078_1616886000000" tabindex="0" role="gridcell" aria-label="28 March, 2021">28</div></td><td><div class="picker__day picker__day--infocus" data-pick="1616972400000" id="P234605078_1616972400000" tabindex="0" role="gridcell" aria-label="29 March, 2021">29</div></td><td><div class="picker__day picker__day--infocus" data-pick="1617058800000" id="P234605078_1617058800000" tabindex="0" role="gridcell" aria-label="30 March, 2021">30</div></td><td><div class="picker__day picker__day--infocus" data-pick="1617145200000" id="P234605078_1617145200000" tabindex="0" role="gridcell" aria-label="31 March, 2021">31</div></td><td><div class="picker__day picker__day--outfocus" data-pick="1617231600000" id="P234605078_1617231600000" tabindex="0" role="gridcell" aria-label="1 April, 2021">1</div></td><td><div class="picker__day picker__day--outfocus" data-pick="1617318000000" id="P234605078_1617318000000" tabindex="0" role="gridcell" aria-label="2 April, 2021">2</div></td><td><div class="picker__day picker__day--outfocus" data-pick="1617404400000" id="P234605078_1617404400000" tabindex="0" role="gridcell" aria-label="3 April, 2021">3</div></td></tr><tr><td><div class="picker__day picker__day--outfocus" data-pick="1617490800000" id="P234605078_1617490800000" tabindex="0" role="gridcell" aria-label="4 April, 2021">4</div></td><td><div class="picker__day picker__day--outfocus" data-pick="1617577200000" id="P234605078_1617577200000" tabindex="0" role="gridcell" aria-label="5 April, 2021">5</div></td><td><div class="picker__day picker__day--outfocus" data-pick="1617663600000" id="P234605078_1617663600000" tabindex="0" role="gridcell" aria-label="6 April, 2021">6</div></td><td><div class="picker__day picker__day--outfocus" data-pick="1617750000000" id="P234605078_1617750000000" tabindex="0" role="gridcell" aria-label="7 April, 2021">7</div></td><td><div class="picker__day picker__day--outfocus" data-pick="1617836400000" id="P234605078_1617836400000" tabindex="0" role="gridcell" aria-label="8 April, 2021">8</div></td><td><div class="picker__day picker__day--outfocus" data-pick="1617922800000" id="P234605078_1617922800000" tabindex="0" role="gridcell" aria-label="9 April, 2021">9</div></td><td><div class="picker__day picker__day--outfocus" data-pick="1618009200000" id="P234605078_1618009200000" tabindex="0" role="gridcell" aria-label="10 April, 2021">10</div></td></tr></tbody></table><div class="picker__footer"><button class="picker__button--today" type="button" data-pick="1616713200000" aria-controls="P234605078" disabled="disabled">Today</button><button class="picker__button--clear" type="button" data-clear="1" aria-controls="P234605078" disabled="disabled">Clear</button><button class="picker__button--close" type="button" data-close="true" aria-controls="P234605078" disabled="disabled">Close</button></div></div></div></div></div></div>
                </div>
                {{ form_end(form) }}
        </div>
</div>
