{% extends 'base.html.twig' %}

{% block title %}Stage index{% endblock %}

{% block body %}
    <h1>Stage index</h1>

    <div class="app-content content">
        <div class="content-wrapper">
            <div class="content-body">
                <section id="knowledge-base-search">
                    <div class="row">
                        <div class="col-12">
                            <div class="card knowledge-base-bg white">
                                <div class="card-content">
                                    <div class="card-body p-sm-4 p-2">
                                        <h1>Internship Offers</h1>
                                        {{ form_start(form) }}

                                        {{ form_widget(form.category,{'attr':{'class':'form-control'}}) }}
                                        <button class="btn btn-primary mr-1 mb-1">{{ button_label|default('Search') }}</button>

                                        {{ form_end(form) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <div class="container">
                <section id="card-caps">
                    <div class="row my-3">
                        {% for stage in stages %}
                        <div class="col-xl-6 col-md-6 col-sm-12">
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="card-title">{{ stage.libelle }}</h4>
                                    <h6 class="card-subtitle text-muted">Employment Name</h6>
                                </div>
                                <div class="card-body text-center">
                                    <div class="card-body">
                                        <p class="card-text" id="txt">{{ stage.description }}</p>
                                    </div>
                                </div>
                                <div class="card-footer text-muted">
                                    <span class="float-left">
                                        <button id="play" data-content="{{ stage.description }}" class="btn-icon btn btn-primary btn-round">
                                            <i class="feather icon-volume-1"></i>
                                        </button>
                                        <button id="cancel" data-content="{{ stage.description }}" class="btn-icon btn btn-primary btn-round">
                                            <i class="feather icon-x"></i>
                                        </button>
                                    </span>
                                    <span class="float-right">
                                        <a href="{{ path('stage_showC', {'id': stage.id}) }}" class="card-link">Read More <i class="fa fa-angle-right"></i></a>
                                    </span>
                                </div>

                            </div>
                        </div>
                        {% else %}
                            <td colspan="8">no records found</td>
                        {% endfor %}
                    </div>
                </section>
                </div>
            </div>
        </div>
    </div>

    <script>
        var btnPlay = document.querySelector('.container');
        var btnCancel = document.querySelector('.container');

        var utterance = new SpeechSynthesisUtterance();
        var voices = window.speechSynthesis.getVoices();
        utterance.voice = voices[1];
        utterance.voiceURI = 'native';
        utterance.volume = 1; // 0 to 1
        utterance.rate = 0.6; // 0.1 to 10
        utterance.pitch = 1; //0 to 2
        utterance.lang = 'en-US';

        utterance.onend = () => {
            window.speechSynthesis.cancel();
        };

        btnPlay.addEventListener('click', (event) => {
            if(event.target.getAttribute('id') === 'play'){
                utterance.text = event.target.getAttribute('data-content');
                window.speechSynthesis.speak(utterance);
                utterance.onstart = () => {
                    console.log('Started..');
                    event.preventDefault();
                };
            }
        });

        btnCancel.addEventListener('click', (event) => {
            if(event.target.getAttribute('id') === 'cancel'){
                window.speechSynthesis.cancel();
                console.log('Finished..');
            }
        });
    </script>
{% endblock %}

