{% extends 'baseFront.html.twig' %}

{% block title %}Stage{% endblock %}

{% block body %}
    <h1>Stage</h1>

    <div class="app-content content">
        <div class="content-wrapper">
            <div class="content-body">
                <section class="card invoice-page">
                    <div id="invoice-template" class="card-body">
                        <div id="invoice-company-details" class="row">
                            <div class="col-sm-6 col-12 text-right">
                                <div class="media pt-1">
                                    <!-- logo -->
                                </div>
                            </div>
                            <div class="col-sm-6 col-12 text-left">
                                <h1>{{ stage.libelle }}</h1>
                                <h5>Post </h5>
                                {{ stage.poste }}
                                <div class="recipient-info my-2">
                                    <h5>Description </h5>
                                    <p>{{ stage.description }}</p>
                                </div>

                            </div>
                        </div>

                        <div id="invoice-customer-details" class="row pt-2">
                            <div class="col-sm-6 col-12 text-center">
                                <div class="invoice-details mt-2">
                                    <div class="recipient-contact pb-2">

                                        <img src="/uploads/{{stage.user.getImg()}}" style="width: 200px; height: 200px; object-fit: cover;"  class="rounded-circle img-border box-shadow-1" alt="Card image">



                                    </div>
                                </div>
                                <h1>Company name : {{ stage.user.company }}</h1>
                                <div class="invoice-details mt-2">
                                    <div class="recipient-contact pb-2">
                                        <p>
                                            <i class="feather icon-home"></i>
                                            {{ stage.user.town }}
                                        </p>
                                        <p>
                                            <i class="feather icon-mail"></i>
                                            {{stage.user.address}}
                                        </p>
                                        <p>
                                            <i class="feather icon-phone"></i>
                                            {{ stage.user.phone }}
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-12 text-left">
                                <br>
                                <h5>Expiration Date</h5>
                                <p>{{ stage.dateExpiration ? stage.dateExpiration|date('Y-m-d') : '' }}</p>
                                <h5>Duration</h5>
                                <p>{{ stage.duree }} months</p>
                                <h5>Level</h5>
                                <p>{{ stage.niveau }}</p>
                                <h5>Category</h5>
                                <p>{{ stage.category.libelle }}</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12" align="right">
                        <a href="{{ path('stage_apply',{'id': stage.id, 'iduser': app.user.id}) }}" class="btn btn-flat-primary border-primary text-primary mr-1 mb-1">Apply</a>
                        <a href="{{ path('stage_indexC') }}" class="btn btn-flat-primary border-primary text-primary mr-1 mb-1">Back to list</a>
                    </div>
                </section>
            </div>
        </div>
    </div>
{% endblock %}
