{{ form_start(form) }}
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
<meta name="description" content="Vuexy admin is super flexible, powerful, clean &amp; modern responsive bootstrap 4 admin template with unlimited possibilities.">
<meta name="keywords" content="admin template, Vuexy admin template, dashboard template, flat admin template, responsive admin template, web app">
<meta name="author" content="PIXINVENT">
<title>Form Layouts - Vuexy - Bootstrap HTML admin template</title>
<link rel="apple-touch-icon" href="../../../app-assets/images/ico/apple-icon-120.png">
<link rel="shortcut icon" type="image/x-icon" href="../../../app-assets/images/ico/favicon.ico">
<link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600" rel="stylesheet">

<!-- BEGIN: Vendor CSS-->
<link rel="stylesheet" type="text/css" href="../../../app-assets/vendors/css/vendors.min.css">
<!-- END: Vendor CSS-->

<!-- BEGIN: Theme CSS-->
<link rel="stylesheet" type="text/css" href="../../../app-assets/css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="../../../app-assets/css/bootstrap-extended.css">
<link rel="stylesheet" type="text/css" href="../../../app-assets/css/colors.css">
<link rel="stylesheet" type="text/css" href="../../../app-assets/css/components.css">
<link rel="stylesheet" type="text/css" href="../../../app-assets/css/themes/dark-layout.css">
<link rel="stylesheet" type="text/css" href="../../../app-assets/css/themes/semi-dark-layout.css">

<!-- BEGIN: Page CSS-->
<link rel="stylesheet" type="text/css" href="../../../app-assets/css/core/menu/menu-types/vertical-menu.css">
<link rel="stylesheet" type="text/css" href="../../../app-assets/css/core/colors/palette-gradient.css">
<!-- END: Page CSS-->

<!-- BEGIN: Custom CSS-->
<link rel="stylesheet" type="text/css" href="../../../assets/css/style.css">
<!-- END: Custom CSS-->



<body class="vertical-layout vertical-menu-modern 2-columns  navbar-floating footer-static  " data-open="click" data-menu="vertical-menu-modern" data-col="2-columns">


<br>
<br>
<br>
<br>
<br>
<br>
<!-- Basic Horizontal form layout section start -->
<section id="basic-horizontal-layouts">
    <div class="row justify-content-center">
        <div class="col-md-6 col-12">
            <div class="card">

                <div class="card-content">
                    <div class="card-body">
                        <form class="form form-horizontal">
                            <div class="form-group row">
                                <div class="col-md-4">
                                    <span>article Id</span>
                                </div>
                                {{ form_widget(form.idArticle,{'attr':{'class':'form-control col-md-8','placeholder':'Id'}}) }}
                            </div>
                            <div class="form-group row">
                                <div class="col-md-4">
                                    <span>Titre</span>
                                </div>
                                {{ form_widget(form.titr,{'attr':{'class':'form-control col-md-8','placeholder':'Titre'}}) }}
                            </div>
                            <div class="form-group row">
                                <div class="col-md-4">
                                    <span>Description</span>
                                </div>
                                {{ form_widget(form.description,{'attr':{'class':'form-control col-md-8','placeholder':'Description'}}) }}
                            </div>
                            <div class="form-group row">
                                <div class="col-md-4">
                                    <span>Media</span>
                                </div>
                                {{ form_widget(form.media,{'attr':{'class':'form-control col-md-8','placeholder':'Media'}}) }}
                            </div>
                            <div class="form-group row">
                                <div class="col-md-4">
                                    <span>Date</span>
                                </div>
                                {{ form_widget(form.Date,{'attr':{'class':'form-control col-md-8'}}) }}
                            </div>

                            {{ form_widget(form,{'attr':{'class':'form form-horizontal'}}) }}
                            <button class="btn btn-primary mr-1 mb-1">{{ button_label|default('Save') }}</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>

<script src="../../../app-assets/vendors/js/vendors.min.js"></script>


<script src="../../../app-assets/js/core/app-menu.js"></script>
<script src="../../../app-assets/js/core/app.js"></script>
<script src="../../../app-assets/js/scripts/components.js"></script>


</body>


{{ form_end(form) }}