




{% extends 'baseAdmin.html.twig' %}

    {% block title %}Candidat{% endblock %}

    {% block body %}
        <h1>Candidat</h1>






        <div class="app-content content">
            <div class="content-overlay"></div>
            <div class="header-navbar-shadow"></div>
            <div class="content-wrapper">
                <div class="content-header row">
                </div>
                <div class="content-body">
                    <!-- page users view start -->
                    <section class="page-users-view">
                        <div class="row">
                            <!-- account start -->
                            <div class="col-12">
                                <div class="card">
                                    <div class="card-header">
                                        <div class="card-title">Account</div>
                                    </div>
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="users-view-image">
                                                <img src="/uploads/{{ article.getImg() }}" style="max-height: 500px; max-width: 200px;" class="users-avatar-shadow w-100 rounded mb-2 pr-2 ml-1" alt="avatar">
                                            </div>
                                            <div class="col-12 col-sm-9 col-md-6 col-lg-5">

                                                <div class="btn-toolbar" role="toolbar" aria-label="Programmatic control">
                                                    <div class="btn-group btn-group-sm" aria-label="Set Select2 option">

                                                        <table class="table">
                                                            <tbody>

                                                            <tr>
                                                                <td class="font-weight-bold">Title</td>
                                                                <td>{{ article.titre }}</td>
                                                            </tr>
                                                            <tr>
                                                                <td class="font-weight-bold">Publication Date</td>
                                                                <td>{{ article.Date ? article.date|date('Y-m-d H:i:s') : ''}}</td>
                                                            </tr>
                                                            <tr>
                                                                <td class="font-weight-bold">Description</td>
                                                                <td>{{ article.description }}</td>
                                                            </tr>



                                                            </tbody>
                                                        </table>
                                                    </div>
                                                    <div class="col-12">
                                                        <a href="{{ path('article_edit', {'id': article.id}) }}" class="btn btn-primary mr-1"><i class="feather icon-edit-1"></i> Edit</a>
                                                        <a href="{{ path('article_index') }}" class="btn btn-primary mr-1"><i class="feather icon-edit-1"></i> afficher</a>


                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- account end -->
                                    <!-- information start -->

                                </div>
                            </div>
                        </div>
                </div>
            </div>
        </div>
        <!-- permissions end -->
        </div>
        </section>
        <!-- page users view end -->

        </div>
        </div>
        </div>



    {% endblock %}
